
body {
	/* background-image: url("https://picsum.photos/1000/800.jpg?grayscale&blur=4");
	background-size: 100% 120%; */
}
main {
	height: 100%;
}

.board-container{
	height: 80%;
}

h1{
	text-align: center;
}

.board{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.player-section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 60%;
	margin: 0 auto;
}

