
h1{
	text-align: center;
	margin: 0;
	padding: 15px;
	font-size: 3rem;
	color: #233d4d;
}

body {
	font-family: 'Fredoka One', cursive;
	 background-image: url("https://picsum.photos/1000/800.jpg");
	background-size: 100% 120%; */
}

.cell {
	background-color: rgba(255, 255, 255, 0.856);
	text-align: center;
}

.main {
	width: 50%;
	margin: 3% auto;
	background-color: rgba(254, 255, 255, .5);
	min-width: 425px;
	border-radius: 6px;
}

.board-container{
	padding-bottom: 30px;
}

.board, .new-game-box{
	display: grid;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	background-color: rgba(97, 155, 138, .4);
	text-align: center;
	border-radius: 6px;
}

.board {
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}

.player-section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 400px;
	margin: 0 auto;
	height: 50px;
	padding-top: 15px;
}

.player-box, .new-game-btn{
	text-align: center;
	line-height: 50px;
	border-radius: 25px;
	font-size: 1.5em;
	width:70%;
	margin: 0 auto;
	border: none;
	outline: none;
	color: #313131;
	background-color: rgba(58, 134, 255, 0.966);
	box-shadow: 0 5px 0 0 #707070;
	padding: 0 15px;
}

.new-game-btn-container{
	display: grid;
	align-items: center;
}

.new-game-btn {
	width: fit-content;
}

.x {
	background-image: url("/img/x.png");
	background-size: cover;
}

.o {
	background-image: url("/img/o.png");
	background-size: cover;
}

.d-none{
	display: none !important;
}
.hidden{
	visibility: hidden;
}


